nav {
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
}

section {
    display: inline-block;
    border: 1px solid blue;
}

td, th {
    border: 1px solid red;
    
}

table {
    border-collapse: collapse;
    margin: 10px;
}