h1 {
    color: #7ec9cc;
    text-align: center;
    font-size: 40px;
    background-color: grey;
    margin: 0px;
    padding: 10px 0 70px 0;
    font-family: 'Roboto Slab', serif;
    
}

img {
    position: relative;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;    
    padding: 8px;
    background-color: #d4f0f0;
    z-index: 2;
}

.menu {
    display: inline-block;
    background-color: #7ec9cc;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
          
}

nav {
    position: relative;
    background-color: rgb(65, 61, 61);
    padding-top: 80px;
    margin-top: -72px;
    text-align: center;
    z-index: 1;
}

body {
    background-color: #d4f0f0;
}

#textPersonal {
    color: crimson;
}

#textPersonal {
    color: blue;
}

#textAcademica {
    color: chartreuse;
}